.modal-content
        .modal-exit-btn(ng-click='profileBaseModal.closeModal()')

        .modal-avatar
                img.img-circle(ng-src='{{ profileBaseModal.getAvatar(profileBaseModal.profileAuthor.id) }}', alt='...')

        .modal-user-name {{ profileBaseModal.profileAuthor.name }}

        .modal-user-info
                .modal-user-info-left
                        span.description.space {{ profileBaseModal.dictionary.memberTime }}
                        .nowrap {{ profileBaseModal.profileAuthor.memberTime }}
                .modal-user-info-center
                        span.description.space {{ profileBaseModal.dictionary.lastLogTime }}
                        .nowrap {{ profileBaseModal.profileAuthor.lastLogTime }}
                .modal-user-info-right
                        span.description.space {{ profileBaseModal.dictionary.activityLevel }}
                        .nowrap
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty

        hr.modal-hr

        .modal-user-menu
                .modal-user-menu-left
                        button.grey
                                span.left-pointing-angle
                .modal-user-menu-name
                        | {{ profileBaseModal.dictionary.modalTitles[0] }}
                .modal-user-menu-right
                        button.blue
                                span.right-pointing-angle

        .modal-profile-info
                .modal-profile-info-row
                        .modal-profile-info-title
                                span.nowrap.space {{ profileBaseModal.dictionary.modalTitles[1] }}
                                span.nowrap {{ profileBaseModal.dictionary.modalTitles[2] }}
                .modal-profile-info-row
                        .modal-profile-info-peers
                                .modal-profile-info-peers-unrotate
                                        span.headler {{ profileBaseModal.profileAuthor.peers}}
                                        span.paragraph {{ profileBaseModal.dictionary.peers}}
                        .modal-profile-info-dis
                                .modal-profile-info-dis-unrotate
                                        span.headler {{ profileBaseModal.profileAuthor.discussions}}
                                        span.paragraph {{ profileBaseModal.dictionary.discussions}}
                        .modal-profile-info-find
                                .modal-profile-info-find-unrotate
                                        span.headler {{ profileBaseModal.profileAuthor.findings}}
                                        span.paragraph {{ profileBaseModal.dictionary.findings}}
                        .modal-profile-info-q
                                .modal-profile-info-q-unrotate
                                        span.headler {{ profileBaseModal.profileAuthor.questions}}
                                        span.paragraph {{ profileBaseModal.dictionary.questions}}

        .modal-other-profiles
                .modal-other-profiles-title
                        span.nowrap.space {{ profileBaseModal.dictionary.modalTitles[3] }}
                        span.nowrap {{ profileBaseModal.dictionary.modalTitles[4] }}
                .modal-other-profiles-row
                        .modal-other-profiles-profile(ng-repeat='user in profileBaseModal.equalJoinTimeUsers')
                                .modal-other-profiles-profile-ico
                                        img.img-circle-small(ng-src='{{ profileBaseModal.getAvatar(user.id) }}', alt='...')
                                .modal-other-profiles-profile-name
                                        | {{ user.name }}

        .modal-hottest-discussion
                .modal-hottest-discussion-title
                        | {{ profileBaseModal.dictionary.modalTitles[5] }}
                .modal-hottest-discussion-row
                        .modal-hottest-discussion-avatar
                                img.img-circle-small(ng-src='{{ profileBaseModal.getAvatar(profileBaseModal.hottestDiscussion.authorId) }}', alt='...')
                        .modal-hottest-discussion-desc
                                span {{ profileBaseModal.getUserName(profileBaseModal.hottestDiscussion.authorId) }} 
                                span.description {{ profileBaseModal.dictionary.questionAuthorDescription[0] }}
                                .title {{ profileBaseModal.hottestDiscussion.title }}
                        .modal-hottest-discussion-info-row
                                .modal-hottest-discussion-info
                                        span.modal-hottest-discussion-info-nr {{ profileBaseModal.hottestDiscussion.peersInvolved }}
                                        span {{ profileBaseModal.dictionary.peersInvolved }}
                                .modal-hottest-discussion-info
                                        span.modal-hottest-discussion-info-nr {{ profileBaseModal.hottestDiscussion.relatedDiscussion }}
                                        span {{ profileBaseModal.dictionary.relatedDiscussion }}
                                .modal-hottest-discussion-info
                                        span.modal-hottest-discussion-info-nr {{ profileBaseModal.hottestDiscussion.conversations }}
                                        span {{ profileBaseModal.dictionary.conversations }}
                                .modal-hottest-discussion-info
                                        span.modal-hottest-discussion-info-nr {{ profileBaseModal.hottestDiscussion.upvotes }}
                                        span {{ profileBaseModal.dictionary.upVote }}
