all-questions-base {
    // Colors
    $black: #000; 
    $white: #fff; 
    $darkblue: #009; 
    $silver: #eee;
    $lightgray: #fbfbfb;
    $gray: #aaa; 
    $darkgray: #888;
    $lightblue: #dff3fd;
    $blue: #06b;
    $red: #f00;

    // Placeholders 
    %space {
        &::after {
            content: ' \0020'; 
        }
    }

    div {
        &.top-nav-row {
            display: table;
            margin: auto;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        &.back-button {
            display: inline-block;
            margin: auto;
            text-align: left;
            vertical-align: middle;
            padding-left: 5%;
        }
        &.q-title {
            display: inline-block;
            color: $black;
            font-weight: bold;
            font-size: 22px;
            margin: auto 50px;
            text-align: center;
            vertical-align: middle;
        }
        &.add-button {
            display: inline-block;
            margin: auto;
            text-align: center;
            vertical-align: middle;
        }
        &.q-radio {
            display: inline-block;
            color: $black;
            font-weight: bold;
            font-size: 14px;
            padding: 5px;
            margin: auto;
            text-align: center;
            vertical-align: middle;
            width: 100%;
        }
        &.title-row {
            display: inline-block;
            margin: auto;
            padding: 5px;
            width: 100%;
            text-align: center;
        }
        &.q-sort {
            display: inline-block;
            color: $black;
            font-weight: normal;
            font-size: 14px;
            font-style: italic;
            padding: 5px;
            margin: auto;
            text-align: center;
            vertical-align: middle;
            width: 100%;
        }
        &.top-search-row {
            display: table;
            margin: auto;
            padding: 0;
            max-width: 810px;
            width: 100%;
            overflow: auto;
        }
        &.question {
            display: table;
            background-color: $white;
            margin-left: auto;
            margin-right: auto;
            height: 300px;
            border: solid $silver;
            border-bottom-width: 1px;
            border-top-width: 1px;
            border-left-width: 1px;
            max-width: 800px;
            min-width: 320px;
            width: 100%;
        }
        &.question-row-title {
            overflow: auto;
            min-height: 50px;
            background-color: $lightblue;
            color: $darkblue;
            width: 100%;
        }
        &.question-avatar {
            font-size: 25px;
            float: left;
            width: 20%;
            padding: 10px 5px 5px;
            cursor: pointer;
            text-align: center;
            color: $black;
        }
        &.question-author {
            margin: auto;
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            width: 80%;
            padding: 5px;
            height: 50px;
        }
        &.question-title {
            display: table;
            width: 100%;
            border-top: 1px solid $white;
            padding: 10px;
            text-align: center;
            font-size: 15px;
            margin: auto;
        }
        &.com-avatar {
            padding-top: 20px;
            float: left;
            font-size: 45px;
            width: 100%;
            height: 115px;
            margin: auto;
            cursor: pointer;
            text-align: center;
        }
        &.count-desc {
            padding-top: 20px;
            float: left;
            font-size: 45px;
            width: 100%;
            height: 109px;
            margin: auto;
            cursor: pointer;
            text-align: center;
        }
        &.question-info {
            float: left;
            width: 135px;
            height: 174px;
            vertical-align: middle;
            text-align: left;
            margin: 0;
            margin-left: 10px;
        }
        &.question-load-more {
            display: table;
            background-color: $white;
            margin-left: auto;
            margin-right: auto;
            height: 100px;
            border: solid $silver;
            border-bottom-width: 1px;
            border-top-width: 1px;
            border-left-width: 1px;
            padding: 30px;
            max-width: 800px;
            min-width: 320px;
            width: 100%;
            text-align: left;
        }
        &.question-dot-empty {
            position: relative;
            left: 39px;
            float: left;
            width: 11px;
            text-align: center;
            font-size: 8px;
            color: $gray;
            border: 0;
            margin: auto;
            border-radius: 20px;
            background-color: $gray;
            &::after {
                content: ' \00B7'; 
            }
        }
        &.count-dot-empty {
            position: relative;
            left: 30px;
            float: left;
            width: 11px;
            text-align: center;
            font-size: 8px;
            color: $gray;
            border: 0;
            margin: auto;
            border-radius: 20px;
            background-color: $gray;
            &::after {
                content: ' \00B7'; 
            }
        }
        &.question-dot {
            position: relative;
            left: 39px;
            float: left;
            width: 11px;
            text-align: center;
            font-size: 8px;
            color: $black;
            border: 0;
            margin: auto;
            border-radius: 20px;
            background-color: $black;
            &::after {
                content: ' \00B7'; 
            }
        }
        &.question-desc-head {
            width: 80px;
            height: 165px;
            background-color: $lightblue;
            font-size: 12px;
            color: $silver;
            text-align: center;
            display: block;
        }
        &.question-desc {
            width: 80px;
            font-size: 12px;
            color: $black;
            text-align: center;
            display: table-cell;
            padding-right: 5px;
        }
        &.question-tabs {
            display: table;
            width: 100%;
        }
        &.question-desc-footer {
            position: relative;
            top: -45px;
            width: 80px;
            display: table-cell;
            vertical-align: bottom;
            padding: 5px;
        }
        &.question-count {
            float: left;
            width: 90px;
            font-size: 12px;
            color: $black;
            text-align: center;
            vertical-align: top;
            margin: 1px;
        }
        &.question-count-head {
            position: relative;
            width: 80px;
            top: 60px;
            font-size: 16px;
            color: $black;
            text-align: center;
            display: block;
        }
        &.question-com-content {
            margin-top: 0;
            width: 100%;
            height: 150px;
            background-color: $silver;
        }
        &.question-count-content {
            margin-top: 0;
            padding: 0 10px;
            width: 100%;
            height: 150px;
            background-color: $silver;
        }
        &.question-asked-content {
            border-top: 25px solid $lightblue;
            width: 90px;
            height: 175px;
            background-color: $lightblue;
        }
        &.question-com-footer {
            width: 100%;
            float: left;
            text-align: center;
            color: $gray;
        }
        &.question-count-footer {
            width: 100%;
            float: left;
            text-align: center;
            color: $black;
        }
        &.question-com {
            float: left;
            width: 90px;
            font-size: 12px;
            color: $black;
            text-align: center;
            margin: 1px;
            vertical-align: top;
        }
        &.com-1 {
            display: block;
        }
        &.com-2, 
        &.com-3, 
        &.com-4 {
            display: none;
        }
        &.question-asked {
            display: none;
            float: left;
            width: 90px;
            font-size: 12px;
            color: $black;
            text-align: center;
            vertical-align: top;
            margin-right: 5px;
        }
    }

    input {
        &.q-search {
            float: left;
            height: 30px;
            background-color: $lightgray;
            border: 1px solid $silver;
            margin: 5px;
            padding: 0 10px;
            width: 100%;
        }
        &.q-radio-input {
            margin: 10px;
        }
    }

    button {
        &.button-link {
            background: none;
            border: 0;
            padding: 0;
            color: $red;
            font-weight: bold;
        }
        &.back-button {
            display: inline-block;
            color: $silver;
            border-color: $silver;
            border-style: solid;
            border-radius: 20px;
            border-width: 2px;
            font-size: 15px;
            margin: auto;
            padding: 0 7px;
            background-color: $white;
        }
        &.add-button {
            color: $white;
            border-width: 0;
            border-radius: 20px;
            font-size: 15px;
            margin: auto;
            background-color: $blue;
            padding: 0 7px;
        }
        &.q-search-btn {
            float: left;
            border: 1px solid $gray;
            color: $gray;
            background-color: $white;
            font-weight: bold;
            height: 30px;
            margin: 5px;
            width: 100%;
        }
    }

    span {
        &.number {
            font-size: 16px;
            font-weight: bold;
        }
        &.q-sort-link {
            margin: 5px;
            font-weight: bold;
            color: $blue;
            cursor: pointer;
        }
        &.q-sort-link-active {
            margin: 5px;
            text-decoration: underline;
            color: $gray;
            font-weight: bold;
            cursor: pointer;
        }
        &.question-author-name {
            @extend %space;
            cursor: pointer;
            font-weight: bold;
        }
        &.left-pointing-angle {
            &::after {
                content: ' \2039'; 
            }
        }
        &.right-pointing-angle {
            &::after {
                content: ' \203A'; 
            }
        }
        &.plus-sign {
            &::after {
                content: ' \002B'; 
            }
        }
        &.space {
            @extend %space;
        }
    }

    p {
        &.title-link {
            cursor: pointer;
        }
        &.question-info-top, 
        &.question-info-mid, 
        &.question-info-bottom {
            padding-top: 25px;
            margin: auto;
        }
    }

    hr {
        border-top: 1px solid $darkgray;
        margin: 5px;
        &.answered {
            border-top: 1px solid $black;
        }
        &.grey {
            width: 90%;
            border-top: 1px solid $gray;
        }
        &.black {
            width: 90%;
            border-top: 1px solid $black;
        }
    }

    img {
        &.img-circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }  
    }

    @media only screen and (min-width: 530px) {
        div {
            &.question-row-title {
                min-height: 80px;
                max-width: 600px;
            }
            &.question-avatar {
                font-size: 45px;
                display: table-cell;
                width: 100px;
                height: 100px;
                padding: 15px 5px 5px;
                cursor: pointer;
                text-align: center;
            }
            &.question-author {
                display: table-cell;
                width: calc(100% - 100px);
                height: 100px;
                padding: 15px;
                font-size: 120%;
            }
            &.com-1 {
                display: block;
            }
            &.com-2, 
            &.com-3, 
            &.com-4 {
                display: none;
            }
            &.question-title {
                display: table-cell;
                width: calc(100% - 100px);
                height: 50%;
                margin: auto;
                padding: 5px 15px 15px;
                border-top: 0;
                text-align: left;
                font-size: 16px;
            }
            &.question-count {
                margin: 5px 10px;
            }
            &.question-com-content {
                margin-top: 20px;
            }
            &.question-count-content {
                margin-top: 20px;
                background-color: $white;
            }
            &.question-asked {
                display: block;
            }
            &.question-com {
                margin: 5px;
            }
            &.top-nav-row {
                text-align: center;
            }
            &.question-info {
                float: left;
                margin: 10px;
                margin-left: 30px;
            }
            &.q-title {
                margin: auto 160px;
            }
            &.q-radio {
                text-align: left;
                width: calc(50% - 10px);
            }
            &.q-sort {
                text-align: right;
                width: calc(50% - 10px);
            }
            &.title-row {
                width: 100%;
                text-align: center;
            }
        }
        input {
            &.q-search {
                width: calc(77% - 15px);
            }   
        }
        span {
            &.question-author-name {
                font-weight: bold;
            }  
        }
        button {
            &.q-search-btn {
                width: calc(23% - 15px);
            }
            &.add-button {
                color: $white;
                border-width: 0;
                border-radius: 20px;
                font-size: 15px;
                margin: auto;
                background-color: $blue;
                padding: 0 7px;
            }
            &.back-button {
                display: inline-block;
                color: $silver;
                border-color: $silver;
                border-style: solid;
                border-radius: 20px;
                border-width: 2px;
                font-size: 15px;
                margin: auto;
                padding: 0 7px;
                background-color: $white;
                text-align: left;
            }
        }
    }

    @media only screen and (min-width: 600px) {
        img {
            &.img-circle {
                width: 60px;
                height: 60px;
            }  
        }
    }

    @media only screen and (min-width: 830px) {
        button {
            &.q-search-btn {
                width: calc(25% - 10px);
            }
            &.add-button {
                color: $white;
                border-width: 0;
                border-radius: 20px;
                font-size: 15px;
                margin: auto;
                margin-right: 10%;
                background-color: $blue;
                padding: 0 7px;
            }
            &.back-button {
                display: inline-block;
                color: $silver;
                border-color: $silver;
                border-style: solid;
                border-radius: 20px;
                border-width: 2px;
                font-size: 20px;
                margin: auto;
                padding: 0 11px;
                margin-right: 6%;
                background-color: $white;
                text-align: left;
            }
        }
        div {
            &.question-info {
                float: right;
                margin: 10px;
                margin-left: 30px;
            }
            &.question-count {
                margin: 5px 10px;
            }
            &.question-com-content {
                margin-top: 20px;
            }
            &.question-count-content {
                margin-top: 20px;
                background-color: $white;
            }
            &.com-1, 
            &.com-2, 
            &.com-3, 
            &.com-4, 
            &.question-asked {
                display: block;
            }
            &.top-nav-row {
                text-align: center;
            }
            &.q-title {
                margin: auto 2%;
            }
            &.q-radio {
                display: inline-block;
                text-align: center;
                width: 230px;
                height: 44px;
                vertical-align: middle;
            }
            &.q-sort {
                display: inline-block;
                text-align: right;
                width: 160px;
                margin: auto;
                margin-left: 4%;
                vertical-align: middle;
            }
            &.title-row {
                display: inline-block;
                max-width: 314px;
                margin: auto;
                height: 44px;
                vertical-align: middle;
                text-align: left;
            }
            &.question-com {
                margin: 5px;
            }
        }
        input {
            &.q-search {
                width: calc(75% - 10px);
            }    
        }
    }

    @media only screen and (min-width: 930px) {
        div {
            &.top-nav-row {
                text-align: left;
            }
            &.q-title {
                margin: auto 5%;
            }
            &.q-sort {
                margin-left: 8%;
            }
        }
        button {
            &.add-button {
                margin-right: 10%;
            }
            &.back-button {
                margin-left: 20px;
                margin-right: 6%;
            }
        }
    }
}

